html, body {
 font-family: 'Roboto', 'Helvetica', sans-serif;
}
.main-avatar {
 width: 48px;
 height: 48px;
 border-radius: 24px;
}
.main-layout .main-header .mdl-textfield {
 padding-top: 27px;
}
.main-layout .mdl-layout__header .mdl-layout__drawer-button {
 color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
 margin-bottom: 16px;
}
.main-drawer {
 border: none;
}
.main-drawer .mdl-menu .mdl-menu__item{
 display: flex;
 align-items: center;
}
.main-drawer-header {
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 padding: 16px;
 height: 151px;
}
.main-avatar-dropdown {
 display: flex;
 position: relative;
 flex-direction: row;
 align-items: center;
 width: 100%;
}

.main-navigation {
 flex-grow: 1;
}
.main-layout .main-navigation .mdl-navigation__link {
 display: flex !important;
 flex-direction: row;
 align-items: center;
 color: rgba(255, 255, 255, 0.56);
 font-weight: 500;
}
.main-layout .main-navigation .mdl-navigation__link:hover {
 background-color: #00BCD4;
 color: #37474F;
}
.main-navigation .mdl-navigation__link .material-icons {
 font-size: 24px;
 color: rgba(255, 255, 255, 0.56);
 margin-right: 32px;
}

.main-content {
 max-width: 1080px;
}
